.btn {
    padding: 10px 20px;
    margin: 10px; /* Agrega un margen alrededor de cada botón */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Estilos específicos para los botones 'Agregar' y 'Gestionar' */
.btn-add {
    background-color: #00ff08; /* Verde */
    /* ... otros estilos ... */
}

.btn-manage {
    background-color: #008CBA; /* Azul */
    /* ... otros estilos ... */
}

/* Estilo para el contenedor de los botones si es necesario */
.button-container {
    margin-bottom: 20px; /* Agrega margen en la parte inferior del contenedor de botones */
}

